<!DOCTYPE HTML>
<html lang = "en">
<head>
    <title>home</title>
     <link rel="icon" type="image/png"  href="assets/photos/favicon.ico">
    <link href="assets/stylesheets/application.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <meta charset = "UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>


<h1>WELCOME TO YOUR NEXT ADVENTURE</h1>
<p>
	Choose a tropical beach to dance your feet upon-right into tranquil blue waters.
</p>

<%= link_to 'MEET OUR TEAM', thisisus_path %>

<h2>Tulum, Mexico<h2>
	<%= image_tag('1216-mexico-feature-tulum-beach_ext3fq.webp' , style: 'height:200px; width:auto;') %>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
</p>

<h2>Bali, Indonesia</h2>
<%= image_tag('Nusa-Penida-Beach-Bali-image-by-JourneyEra.jpg' , style: 'height:200px; width:auto;') %>


<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum		
</p>

<h2>Wakiki,Hawaii</h2>
<%= image_tag('WB5X7QCRWBGGLDAQ4BDPKY76UQ.jpg' , style: 'height:200px; width:auto;') %>


<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
</p>	
</body>
</html>